<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.litte.ui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".layout.LinearActivity" />
        <activity android:name=".layout.RelativeActivity" />
        <activity android:name=".layout.AddActivity" />
        <activity android:name=".layout.TableActivity" />
        <activity android:name=".layout.FrameActivity" />
        <activity android:name=".layout.Frame2Activity" />
        <activity android:name=".layout.Frame3Activity" />
        <activity android:name=".layout.GridActivity" />
        <activity android:name=".layout.AbsoluteActivity" />
        <activity android:name=".userinterface.TextViewActivity" />
        <activity android:name=".userinterface.EditTextActivity" />
        <activity android:name=".userinterface.ImageViewActivity" />
        <activity android:name=".userinterface.RadioCheckActivity" />
        <activity android:name=".userinterface.ToggleSwitchActivity" />
        <activity android:name=".userinterface.ProgressBarActivity" />
        <activity android:name=".userinterface.SeekBarActivity" />
        <activity android:name=".userinterface.RatingBarActivity" />
        <activity android:name=".userinterface.ScrollViewActivity" />
        <activity android:name=".userinterface.DateAndTimeActivity" />
        <activity android:name=".userinterface.ListViewActivity" />
        <activity android:name=".userinterface.ListView2Activity" />
        <activity android:name=".userinterface.ListAndAdapterActivity" />
        <activity android:name=".userinterface.ListViewWithCheckBoxActivity" />
        <activity android:name=".userinterface.UpdateListViewActivity" />
        <activity android:name=".userinterface.MutiListViewActivity" />
        <activity android:name=".userinterface.GridViewActivity" />
        <activity android:name=".userinterface.SpinnerActivity" />
        <activity android:name=".userinterface.AutoCompleteTextViewActivity" />
        <activity android:name=".userinterface.ExpandableListViewActivity" />
        <activity android:name=".userinterface.ViewFlipperActivity" />
        <activity android:name=".userinterface.NotificationActivity" />
        <activity android:name=".userinterface.ShowNotificationActivity" />
        <activity
            android:name=".userinterface.DrawerLayoutActivity"
            android:label="@string/title_activity_drawer_layout" />
        <activity android:name=".real.NewActivity" />
        <activity android:name=".real.HandlerActivity" />
        <activity android:name=".real.ConfigurationActivity" />
        <activity android:name=".real.AsyncTaskActivity" />
        <activity android:name=".real.ActivityActivity" />
        <activity android:name=".real.Activity2Activity" />
        <activity android:name=".real.WeatherIconActivity" />
        <activity android:name=".real.ServiceActivity" />

        <service android:name=".real.TestService">
            <intent-filter>
                <action android:name="com.litte.ui.real.TEST_SERVICE" />
            </intent-filter>
        </service>

        <activity android:name=".real.BindServiceActivity" />

        <service
            android:name=".real.TestService1"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.litter.TEST_SERVICE1" />
            </intent-filter>
        </service>

        <activity android:name=".real.IntentActivity" />

        <service
            android:name=".real.MyIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.litter.intent_service" />
            </intent-filter>
        </service>

        <activity android:name=".real.AIDLActivity" />

        <service
            android:name=".real.AIDLService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIDLService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>

</manifest>